﻿﻿﻿﻿﻿@{
    ViewBag.Title = "Uspješno poslana poruka";
}

<ol class="breadcrumb">
    <li><a href="/Home">Home</a></li>
    <li><a href="/Home/Contact">Kontakt</a></li>
    <li class="active">Poruka poslana</li>
</ol>

<h2>@ViewBag.Title.</h2>
<div class="alert alert-success">@ViewBag.Message</div>
